.navbar {
  background-color:#0275d8;
}
.navbar-nav {
  margin:auto;
}
.nav-link {
  margin:10px 25px;
  color:#fff; 
}
.nav-link:hover {
  color: #f2f2f2;;
}
.box {
  width:100%;
  height:30px;
  background-color:#0275d8;
  position:relative;
}
.box-1 {
  width:50%;
  background-color:#fff;
  height:100%;
  border-radius:0px 40px 0px 0px;
  border-top:5px solid #5bc0de;
  border-right:5px solid #5bc0de;
}
.box-2 {
  position:absolute;
  background-color:#fff;
  height:100%;
  width:50%;
  right:0;
  top:0;
  border-radius:40px 0px 0px 0px;
  border-top:5px solid #5bc0de;
  border-left:5px solid #5bc0de;
}